<template>
  <div id="app" :class="mode">
      <button type="button" :class="getModeClass()" @click="dark()">{{ mode.toUpperCase() }} MODE</button>
      <router-view :mode="mode"/>
  </div>
</template>

<script>
export default {
  name: 'App',
  data () {
    return { mode: this.$cookie.get('mode') || 'light' }
  },
  methods: {
    dark () {
      this.mode = this.mode === 'dark' ? 'light' : 'dark'
      this.$cookie.set('mode', this.mode)
    },
    getModeClass () {
      return 'btn btn-' + this.mode + ' btn-lg btn-block'
    }
  }
}
</script>

<style scoped>
  .app {
    background: #f3f3f3;
    color: #15202b;
  }
  .dark {
    background: #192734;
    color: #e8e8e8;
  }
</style>
