#header h1{
    margin:0px;
}

body{
    margin:0px;
}

/*.dashboard {*/
/*    background-image: url("https://i.redd.it/kazq6jv71tp01.jpg");*/
/*}*/

.dashboard {
    color: whitesmoke;
    background: url("./assets/aars.jpg");
    -webkit-transition: background 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out;
    -o-transition: background 0.5s ease-in-out;
    transition: background 0.5s ease-in-out;
}

.dashboard:hover {
    background: url("./assets/aars.png");
}

.profile {
    background-image: url("https://edit.co.uk/uploads/2016/12/Image-1-Alternatives-to-stock-photography-Thinkstock.jpg");
}

.sports-header {
    background-image: url("https://thumbs.dreamstime.com/z/sports-balls-white-background-reflection-50296518.jpg")
}

.tech-header {
    background-image: url("https://previews.123rf.com/images/crstrbrt/crstrbrt1107/crstrbrt110700068/10031222-abstract-tech.jpg")
}

.business-header {
    background-image: url("https://image.shutterstock.com/image-photo/money-600w-696138958.jpg")
}

.politics-header {
    background-image: url("https://image.shutterstock.com/image-photo/businessman-politician-making-speech-behind-600w-526422091.jpg")
}

.entertainment-header {
    background-image: url("https://c8.alamy.com/comp/FBHDTJ/still-life-selection-of-board-games-monopoly-chess-cluedo-scrabble-FBHDTJ.jpg")
}

.negative {
  background-color: red !important;
}

.scrolling-wrapper {
    margin: 10px;
    display: flex;
    flex-direction: row;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    justify-content: flex-start;
    padding: 5px;
}

.topic-cards {
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-around;
}

.profile_pic {
    max-height: 200px;
    height: 70%;
    width: auto;
}
.navbar_img {
    max-height: 50px;
    width: auto;
}

.buffer {
    height: 500px;
}

/* All this is for making the topic page display the correct amount of card columns for the screen size, would love a
more elegant solution but this is all I could find.
 */
@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 1600px) {
    .card-columns {
        column-count: 4;
    }
}
