<template>
    <div id="dashboard">
        <Navbar :mode="mode"/>
        <PageHeader :imageClass="header.imageClass"
                    :title="header.title"
                    :subTitle="header.subTitle"/>
        <TrendingNews :mode="mode"/><br>
        <Twitter :mode="mode" :key="mode"/><br>
    </div>
</template>

<script>
import Navbar from './Navbar'
import PageHeader from './PageHeader'
import TrendingNews from './TrendingNews'
import Twitter from './Twitter'

export default {
  name: 'Dashboard',
  components: {Twitter, TrendingNews, PageHeader, Navbar},
  props: ['mode'],
  data () {
    return {
      header: {
        imageClass: 'dashboard',
        title: 'The Ambassador of Destruction',
        subTitle: 'A news aggregator for the modern day.'
      }
    }
  }
}
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        margin-top: 0px;
    }
</style>
