<template>
    <div id="navbar">
        <nav :class="getNavClass()">
            <a class="navbar-brand" href="/"><img class="navbar_img" src="../assets/evil_toad.jpg" alt="Evil Toad"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"/>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span> </a>
                    </li>
                    <!-- should make this conditional on login later -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Your Topics
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/topics/sports">Sports</a>
                            <a class="dropdown-item" href="/topics/tech">Technology</a>
                            <a class="dropdown-item" href="/topics/business">Business</a>
                            <a class="dropdown-item" href="/topics/politics">Politics</a>
                            <a class="dropdown-item" href="/topics/entertainment">Entertainment</a>
                            <a class="dropdown-item" :key="topic" v-for="topic in this.user.topics" :href="'/search?q=' + topic"> {{ topic }}</a>
                        </div>
                    </li>
                    <li class="nav-item" v-if="login_data.text === 'Logout'">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/user_guide">Help</a>
                  </li>
                </ul>
                <form @submit.prevent class="navbar-form" role="search">
                  <div class="input-group">
                    <input v-model="search_param" placeholder="Search" >
                    <div class="input-group-btn">
                      <button class="btn btn-default" type="submit" @click="search(search_param)">
                        <span class="fa fa-search"/>
                      </button>
                    </div>
                  </div>
                </form>
                <button type="button" class="btn btn-outline-primary" @click="login_logout(login_data.url)">{{ login_data.text }}</button>
            </div>
        </nav>
    </div>
</template>

<script>
export default {
  name: 'Navbar',
  props: ['mode'],
  methods: {
    login_logout (url) {
      window.location.href = url
    },
    search (searchParam) {
      this.$router.push({path: '/search', query: {q: searchParam}})
      this.$router.go()
    },
    getNavClass () {
      return 'navbar navbar-expand-lg navbar-' + this.mode + ' bg-' + this.mode
    }
  },
  data () {
    let http = this.xhrGetWithCred('auth')
    http.onloadend = () => {
      // eslint-disable-next-line no-console
      if (JSON.parse(http.response).isLoggedIn) {
        this.login_data.text = 'Logout'
        this.login_data.url = process.env.BACKEND_ROOT_URL + 'logout'
      } else {
        this.login_data.text = 'Login'
        this.login_data.url = process.env.BACKEND_ROOT_URL + 'login'
      }
    }

    let httpUser = this.xhrGetWithCred('user')
    httpUser.onloadend = () => {
      let user = JSON.parse(httpUser.response)
      /* eslint-disable no-console */
      this.user.email = user.email
      this.user.profilepic = user.profile_pic
      this.user.name = user.name
      this.user.sites = user.sites
      this.user.topics = user.topics
    }

    return {
      login_data: {
        text: 'Login',
        url: process.env.BACKEND_ROOT_URL + 'login'
      },
      user: {
        email: '',
        profilepic: '',
        name: '',
        sites: [],
        topics: []
      },
      search_param: ''
    }
  }
}
</script>

<style scoped/>
