<template>
    <div class='scroll-card'>
        <div :class="getCardClass()" style='width: 24rem'>
            <div @click="clicked = true">
                <div v-if="clicked && vidId !== null">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" :src='"//www.youtube.com/embed/"+vidId+"?autoplay=1"'
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen/>
                    </div>
                </div>
                <div v-else-if="vidId === null">
                    <img :src='image' class='card-img-top' alt='news image'>
                </div>
                <div v-else class='youtube'>
                    <img :src='image' class='card-img-top' alt='news image'>
                    <div class="play-button"/>
                </div>
            </div>
            <div class='card-body'>
              <div>
                <a v-if="vidId === null" :style="[{'color': mode}]" :href='url'><h3>{{ title }}</h3></a>
                <h3 v-else>{{ title }}</h3>
                <p class='card-text'>{{ summary }}</p>
                <hr>
                <!-- this v-if used so videos with none/broken subtitles dont display bars -->
                <div v-if="subjectivity > 0">
                    <p align='left'><b>subjectivity:</b> {{ subjectivity }}%</p>
                    <div class='progress'>
                        <div class='progress-bar' role='progressbar' :aria-valuenow="subjectivity" aria-valuemin='0'
                            aria-valuemax='1' :style="{width: subjectivity + '%'}"/>
                    </div>
                    <div v-if="positive">
                        <p align='left'><b>opinion:</b> {{ polarity }}% positive</p>
                        <div class='progress'>
                            <div class='progress-bar' role='progressbar' :aria-valuenow="polarity" aria-valuemin='-1'
                                aria-valuemax='1' :style="{width: polarity + '%'}"/>
                        </div>
                    </div>
                    <div v-else>
                        <p align='left'><b>opinion:</b> {{ polarity }}% negative</p>
                        <div class='progress'>
                            <div class='progress-bar negative' role='progressbar' :aria-valuenow="polarity" aria-valuemin='-1'
                                aria-valuemax='1' :style="{width: polarity + '%'}"/>
                        </div>
                    </div>
                </div>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <button @click="thumbsUp()" class="btn btn-default" type="submit">{{ likes }} <span v-if="state === 'like'" class="fas fa-thumbs-up"/><span v-else class="far fa-thumbs-up"/></button>
                  </div>
                  <div class="col-sm">
                    <button @click="thumbsDown()" class="btn btn-default" type="submit">{{ dislikes }} <span v-if="state === 'dislike'" class="fas fa-thumbs-down"/><span v-else class="far fa-thumbs-down"/></button>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'NewsCard',
  props: {
    article_id: String,
    image: String,
    title: String,
    summary: String,
    polarity: Number,
    subjectivity: Number,
    positive: Boolean,
    url: String,
    vidId: String,
    mode: String
  },
  methods: {
    getCardClass () {
      return this.mode === 'dark' ? 'card text-white bg-dark' : 'card bg-light mb-3'
    },
    thumbsUp () {
      this.thumbRate('like')
    },
    thumbsDown () {
      this.thumbRate('dislike')
    },
    thumbRate (type) {
      // only do something if it is a different thumb
      if (this.state !== type) {
        const http = this.xhrPutWithCred('rate/')

        http.send(JSON.stringify({
          article_id: this.article_id,
          rating: type
        }))

        this.thumbLogic(type)

        // new state
        this.state = type
      }
    },
    thumbLogic (type) {
      if (this.state === 'none') {
        if (type === 'like') {
          this.likes++
        } else { // type === dislikes
          this.dislikes++
        }
      } else if (this.state === 'like') {
        // thumbLogic() will never be called if same thumb clicked twice
        this.likes--
        this.dislikes++
      } else { // state === dislike
        this.likes++
        this.dislikes--
      }
    }
  },
  data () {
    let http = this.xhrGetWithCred('get-user-rating/' + this.article_id + '/')

    http.onloadend = () => {
      let ratingJSON = JSON.parse(http.response)

      // initial state of this user with this article
      // && protects against null exception
      // OR operator gives default value if never thumbed by this user
      //
      // Also assigns to default 'none' if user is not logged in!
      this.state = (ratingJSON && ratingJSON.rating) || 'none'
    }

    let http2 = this.xhrGetWithCred('rating/' + this.article_id + '/')

    http2.onloadend = () => {
      let thumbsJSON = JSON.parse(http2.response)

      // convert to ints
      this.likes = +thumbsJSON.likes
      this.dislikes = +thumbsJSON.dislikes
    }

    return {
      likes: 0,
      dislikes: 0,
      clicked: false
    }
  }
}
</script>

<style scoped>
    .scroll-card{
        margin: 10px;
    }
    .card-img-top {
        max-height: 12rem;
    }

    .youtube {
        background-color: #000;
        position: relative;
        padding-top: 56.25%;
        overflow: hidden;
        cursor: pointer;
    }
    .youtube img {
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.7;
    }
    .youtube .play-button {
        width: 90px;
        height: 60px;
        background-color: #333;
        box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
        z-index: 1;
        opacity: 0.8;
        border-radius: 6px;
    }
    .youtube .play-button:before {
        content: "";
        border-style: solid;
        border-width: 15px 0 15px 26.0px;
        border-color: transparent transparent transparent #fff;
    }
    .youtube:hover .play-button {
        background-color: rgb(66, 66, 66);
        opacity: 0.9;
    }
    .youtube img,
    .youtube .play-button {
        cursor: pointer;
    }
    .youtube img,
    .youtube .play-button,
    .youtube .play-button:before {
        position: absolute;
    }
    .youtube .play-button,
    .youtube .play-button:before {
        top: 50%;
        left: 50%;
        transform: translate3d( -50%, -50%, 0 );
    }
</style>
