<template>
    <div id="PageHeader">
        <div class="jumbotron jumbotron-fluid" :class="imageClass">
            <div class="container">
                <h1 class="display-4">{{ title }}</h1>
                <p class="lead">{{ subTitle }}</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'PageHeader',
  props: {
    imageClass: String,
    title: String,
    subTitle: String
  }
}
</script>

<style scoped>
.display-4 {
    text-transform: capitalize;
    color: whitesmoke;
}
.lead {
    color: ghostwhite;
}
</style>
