<template>
    <div class="Profile">
        <Navbar :mode="mode"/>
        <PageHeader :imageClass="header.imageClass"
                    :title="header.title"
                    :subTitle="header.subTitle"/>
        <div class="container-fluid">
          <img :src='user.profilepic' class="profile_pic">
          <p>Name: {{ user.name }}</p>
          <p>Email: {{ user.email }} </p>
          <h2>Custom News Sources</h2>
          <ul class="list-group">
            <li v-bind:key="source" v-for="source in this.user.sites">
              {{ source }}
            </li>
          </ul>
          <br>
          <h5>Add Custom News Source</h5>
          <form @submit.prevent>
            <div class='form-group'>
              <label for='sourceUrl'>Source URL</label>
              <input class='form-control' id='sourceUrl' v-model='sourceUrl' placeholder='http://example.com'>
              <small id='source' class='form-text text-muted'>Enter the custom source you would like to add.</small>
            </div>
            <button type='submit' class='btn btn-primary mb-2' @click='sourceCheck()'>Submit</button>
          </form>
          <br>
          <div v-if="Array.isArray(this.exampleArticles) && this.exampleArticles.length > 0">
            <h6>Article Titles for {{ sourceUrl }}</h6>
            <ul class="list-group">
              <li :key="article" v-for="article in exampleArticles">
                {{ article }}
              </li>
            </ul>
            <br>
            <h6>Is this the news source you want to add?</h6>
            <button type='submit' class='btn btn-primary mb-2' @click='sourceAdd()'>Add Source</button>
          </div>
          <div v-if="this.exampleArticles['error']">{{ exampleArticles['error'] }}</div>
          <h2>Custom Topics</h2>
          <ul class="list-group">
            <li :key="topic" v-for="topic in this.user.topics">
              {{ topic }}
              <button type='submit' class='btn btn-danger mb-2' @click='deleteTopic(topic)'>Delete</button>
            </li>
          </ul>
          <h5>Add Custom Topic</h5>
          <form @submit.prevent>
            <div class='form-group'>
              <label for='topicName'>Topic Name</label>
              <input class='form-control' id='topicName' v-model='topicName' placeholder='new topic'>
              <small id='topic' class='form-text text-muted'>Enter the custom topic you would like to add.</small>
            </div>
            <button type='submit' class='btn btn-primary mb-2' @click='addTopic()'>Submit</button>
          </form>
        </div>
        <!-- Buffer for dark mode consistency -->
        <div class="buffer"/>
    </div>
</template>

<script>
import Navbar from './Navbar'
import PageHeader from './PageHeader'

export default {
  name: 'Profile',
  components: {PageHeader, Navbar},
  props: ['mode'],
  data () {
    const http = this.xhrGetWithCred('user')
    http.onloadend = () => {
      let user = JSON.parse(http.response)
      /* eslint-disable no-console */
      this.user.email = user.email
      this.user.profilepic = user.profile_pic
      this.user.name = user.name
      this.user.sites = user.sites
      this.user.topics = user.topics
    }

    return {
      header: {
        imageClass: 'profile',
        title: 'Welcome to your profile page',
        subTitle: 'Here is where you can see and edit your profile.'
      },
      user: {
        email: '',
        profilepic: '',
        name: '',
        sites: [],
        topics: []
      },
      sourceUrl: '',
      topicName: '',
      exampleArticles: []
    }
  },
  methods: {
    sourceCheck () {
      const http = this.xhrPutWithCred('source/check/')
      http.send(JSON.stringify({
        url: this.sourceUrl
      }))

      http.onloadend = () => {
        console.log(http.response)
        this.exampleArticles = JSON.parse(http.response)
      }
    },
    sourceAdd () {
      let sourceUrl = this.sourceUrl
      const http = this.xhrPutWithCred('source/add/')
      http.send(JSON.stringify({
        url: sourceUrl
      }))

      http.onloadend = () => {
        console.log(http.response)
        this.user.sites.push(sourceUrl)
      }
    },
    addTopic () {
      let topicName = this.topicName
      const http = this.xhrPutWithCred('add_topic/')
      http.send(JSON.stringify({
        name: topicName
      }))
      http.onloadend = () => {
        console.log(http.response)
        this.user.topics.push(topicName)
      }
    },
    deleteTopic (topic) {
      const endpointUrl = process.env.BACKEND_ROOT_URL + 'delete_topic/'
      const http = new XMLHttpRequest()
      http.open('DELETE', endpointUrl, true)
      http.setRequestHeader('Content-type', 'application/json; charset=utf-8')
      http.withCredentials = true
      http.send(JSON.stringify({
        name: topic
      }))
      http.onloadend = () => {
        console.log(http.response)
        let index = this.user.topics.indexOf(topic)
        if (index > -1) {
          this.user.topics.splice(index, 1)
        }
      }
    }
  }
}
</script>

<style scoped>
</style>
