<template>
  <div class="Search">
    <Navbar :mode="mode"/>
    <PageHeader :imageClass="header.imageClass"
                :title="header.title"
                :subTitle="header.subTitle"/>
    <div class="card-columns">
      <NewsCard :mode="mode"
                v-for='card in cards'
                :key='card.id'
                :article_id='card.id'
                :image='card.image'
                :title='card.title'
                :summary='card.summary'
                :subjectivity='card.subjectivity'
                :polarity='card.polarity'
                :positive='card.positive'
                :url='card.url'
                :vidId='card.vidId'/>
    </div>
  </div>
</template>

<script>
import Navbar from './Navbar'
import PageHeader from './PageHeader'
import NewsCard from './NewsCard'

export default {
  name: 'Search.vue',
  components: {Navbar, PageHeader, NewsCard},
  props: ['mode'],
  data () {
    let cardData = []
    const http = this.xhrGetWithCred('search/' + this.$route.query.q)

    http.onloadend = () => {
      cardData.push(...JSON.parse(http.response).map(a => this.adaptArticle(a)))
    }

    return {
      header: {
        imageClass: 'search',
        title: this.$route.query.q,
        subTitle: 'Read all about ' + this.$route.query.q
      },
      cards: cardData
    }
  }
}
</script>

<style scoped/>
