<template>
    <div class="scroll-card">
        <div class="card text-white" style="width: 21.7rem">
            <img src="../assets/logo.png" class="card-img" alt="Topic Image">
            <div class="card-img-overlay">
                <div class="container-fluid" style="padding-top: 45%;">
                    <h3>{{ name }}</h3>
                </div>
                <a :href='url' class="stretched-link"/>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'TopicCard',
  props: {
    name: String,
    url: String
  }
}
</script>

<style scoped>
    .scroll-card{
        margin: 10px;
    }
</style>
