<template>
    <div class="Topic">
        <Navbar :mode="mode"/>
        <PageHeader :imageClass="header.imageClass"
                    :title="header.title"
                    :subTitle="header.subTitle"/>
        <div class="card-columns">
            <NewsCard :mode="mode"
                      v-for='card in cards'
                      :key='card.id'
                      :article_id='card.id'
                      :image='card.image'
                      :title='card.title'
                      :summary='card.summary'
                      :subjectivity='card.subjectivity'
                      :polarity='card.polarity'
                      :positive='card.positive'
                      :url='card.url'
                      :vidId='card.vidId'/>
        </div>
    </div>
</template>

<script>
import Navbar from './Navbar'
import PageHeader from './PageHeader'
import NewsCard from './NewsCard'

export default {
  name: 'Topic',
  components: {Navbar, PageHeader, NewsCard},
  props: ['mode'],
  methods: {
    scroll () {
      window.onscroll = () => {
        let bottomOfWindow = document.documentElement.scrollTop + window.innerHeight === document.documentElement.offsetHeight
        if (bottomOfWindow) {
          console.log('reached bottom')
          console.log('page' + this.page)
          let topicName = this.$route.params.topicName

          const http = this.xhrGetWithCred('topic/' + (topicName === 'sports' ? 'sport' : topicName) + '/' + this.page + '/')

          http.onloadend = () => {
            this.cards.push(...JSON.parse(http.response).map(a => this.adaptArticle(a)))
            this.page += 1
          }
        }
      }
    }
  },
  mounted () {
    this.scroll()
  },
  data () {
    let topicName = this.$route.params.topicName
    let topicNameCap = topicName.charAt(0).toUpperCase() + topicName.slice(1)
    let cardData = []
    let page = 1

    const http = this.xhrGetWithCred('topic/' + (topicName === 'sports' ? 'sport' : topicName) + '/' + page + '/')
    console.log('page' + page)
    page = 2

    http.onloadend = () => {
      cardData.push(...JSON.parse(http.response).map(a => this.adaptArticle(a)))
    }

    return {
      header: {
        imageClass: topicName + '-header',
        title: topicNameCap,
        subTitle: 'Read all about ' + topicName + '!'
      },
      cards: cardData,
      page: page
    }
  }
}
</script>

<style scoped/>
