<template>
    <div class='TrendingNews'>
        <div class='container-fluid'>
            <h1>Trending News</h1>
            <div class='scrolling-wrapper'>
                <NewsCard :mode="mode"
                          v-for='card in cards'
                          :key='card.id'
                          :article_id='card.id'
                          :image='card.image'
                          :title='card.title'
                          :summary='card.summary'
                          :subjectivity='card.subjectivity'
                          :polarity='card.polarity'
                          :positive='card.positive'
                          :url='card.url'
                          :vidId='card.vidId'/>
            </div>
        </div>
    </div>
</template>

<script>
import NewsCard from './NewsCard'

export default {
  name: 'TrendingNews',
  props: ['mode'],
  components: {NewsCard},
  data () {
    let cardData = []
    const urls = [
      'sport',
      'tech',
      'business',
      'entertainment',
      'politics'
    ]

    urls.map(s => 'topic/' + s).forEach((url, index) => {
      let http = this.xhrGetWithCred(url)

      http.onloadend = () => {
        cardData.push(this.adaptArticle(JSON.parse(http.response)[0]))
      }
    })

    return {
      cards: cardData
    }
  }
}
</script>

<style scoped/>
