<template>
    <div class='Twitter'>
        <div class='container-fluid'>
          <h1>Twitter News</h1>
          <div class='scrolling-wrapper'>
            <div v-for='(handle, index) in handles' :key='index'>
                <div class='twitterScroll'>
                    <Timeline :id='handle' sourceType="profile" :options="{ theme: mode, tweetLimit: '5' }"/>
                </div>
            </div>
          </div>
        </div>
    </div>
</template>

<script>
import { Moment, Timeline } from 'vue-tweet-embed'

export default {
  name: 'Twitter',
  props: ['mode'],
  components: { Moment, Timeline },
  data () {
    return { handles: [
      'ABC',
      'BBCWorld',
      'CBSNews',
      'CNN',
      'realDailyWire',
      'France24_en',
      'NBCNews',
      'nytimes',
      'SkyNews',
      'TIME',
      'TheSun',
      'Telegraph',
      'USATODAY',
      'WSJ',
      'washingtonpost',
      'business',
      'RT_America',
      'AJEnglish'
    ]}
  }
}
</script>

<style scoped>
.twitterScroll {
    height:450px;
    width:300px;
    margin: 10px;
    overflow-y: scroll;
}
</style>
