<template>
  <div id="userGuide" class="text-left ml-1">
    <Navbar :mode="mode"/>
    <PageHeader :imageClass="header.imageClass"
                :title="header.title"
                :subTitle="header.subTitle"/>
    <h1>User Guide</h1>
    <p>Welcome to the Ambassador of Destruction. We're glad you share the same passion for news are we do.
      This user guide will describe the main features of our product and how to make the most of them.</p>

    <h2>Login Process</h2>
    <p>All logins must be done with a Google account. In the upper right corner you will see a login button. Once you
    click it, follow the steps to log in via your google account. Once you are finished with our content, you can logout
    by clicking the logout button</p>

    <h2>Dashboard</h2>
    <p>The dashboard is the main page you will see when loading our site. It will contain all of the newest news for you
    to browse and you can navigate to any page of the site from here.</p>

    <h2>Your Topics</h2>
    <p>This drop down menu will contain our 5 standard topics, and all of the topics you add in your profile page. Clicking
    on any of the topics in the drop down will bring you to the page for said topic, where all articles related to the topic
    will be contained.</p>

    <h2>Profile</h2>
    <p>Clicking on the profile button on the nav bar will bring you to the profile page. This is where you will see your
    personal information along with what news sources you have added and your custom topics. Additionally this is where
    you can add more news sources or customize your topics. To add a news source simply type the desired source into the
    source URL input box and click Submit, at which point if the source is already being utilized the site will inform you
    if not it will display a list of articles from the source to confirm that is the source you wish to add, if it is correct
      click the Add Source button.</p>
    <p>If you wish to add a new custom topic, simply type the name of the topic into the Topic Name input box and click
    Submit. At which point the topic will be added to your custom Topics and you will see it appear in your list. If you
    want to remove a topic from your custom topics simply click the delete button next to the topic you wish to delete.</p>

    <h2>FAQs</h2>
    <ol>
      <li><i>Can I add my own news source?</i></li>
      <ul class="list-unstyled">
        <li>Yes! You can do this through your profile page and adding a new custom news source.</li>
      </ul>
      <li><i>Can I have my own topics?</i></li>
      <ul class="list-unstyled">
        <li>Yes! Go to your profile page to custom topics to add one.</li>
      </ul>
      <li><i>Can I have multiple accounts?</i></li>
      <ul class="list-unstyled">
        <li>All of our accounts are through google, so if you have multiple google accounts you can have multiple accounts with us.</li>
      </ul>
      <li><i>How is our site better then other news sites?</i></li>
      <ul class="list-unstyled">
        <li>Unlike other news sites we provide a wide range of opinions and viewpoints. Allowing you to make your own decision on the topic</li>
      </ul>
      <li><i>How is bias from the developers avoided?</i></li>
      <ul class="list-unstyled">
        <li>We avoid adding any of our own bias by not giving preference to any particular news sources and allowing the user to add their own</li>
      </ul>
      <li><i>Can I remove a news source from my feed?</i></li>
      <ul class="list-unstyled">
        <li>No. We do this intentionally to provide a more unbiased experience for all of our users.</li>
      </ul>
      <li><i>How do you protect my data?</i></li>
      <ul class="list-unstyled">
        <li>We use a super secure google API and our database does not store any passwords or private information.</li>
      </ul>
      <li><i>I received an email saying the Nigerian Prince needed some money what do I do?</i></li>
      <ul class="list-unstyled">
        <li>Respond with great concern and supply him with anything he needs.</li>
      </ul>
      <li><i>How much does this cost?</i></li>
      <ul class="list-unstyled">
        <li>Free for personal use. Business use $10 Million billed yearly.</li>
      </ul>
      <li><i>How do I apply for a job here?</i></li>
      <ul class="list-unstyled">
        <li>We are not currently accepting applications.</li>
      </ul>
      <li><i>How do I invest in this company?</i></li>
      <ul class="list-unstyled">
        <li>Give us a job.</li>
      </ul>
      <li><i>Are you owned by Google?</i></li>
      <ul class="list-unstyled">
        <li>No.</li>
      </ul>
      <li><i>Are you owned by Facebook?</i></li>
      <ul class="list-unstyled">
        <li>No.</li>
      </ul>
      <li><i>Are you owned by CNN?</i></li>
      <ul class="list-unstyled">
        <li>Just Stop.</li>
      </ul>
      <li><i>I was offended by an article I saw what should I do?</i></li>
      <ul class="list-unstyled">
        <li>Stop using our site. Our site is not for you.</li>
      </ul>
      <li><i>If I am not happy with the product how can I return it?</i></li>
      <ul class="list-unstyled">
        <li>Leave.</li>
      </ul>
      <li><i>I am having trouble accessing this site what do I do?</i></li>
      <ul class="list-unstyled">
        <li>Wonder how you are reading this, and ask again.</li>
      </ul>
      <li><i>My favorite sports team lost this weekend, how do I make those articles go away?</i></li>
      <ul class="list-unstyled">
        <li>Make sure they win next time.</li>
      </ul>
      <li><i>I found an article that was mis-categorized what do I do?</i></li>
      <ul class="list-unstyled">
        <li>Laugh about it.</li>
      </ul>
      <li><i>I found an article in a different language what do I do?</i></li>
      <ul class="list-unstyled">
        <li>Learn the new language.</li>
      </ul>
      <li><i>Are there any stupid questions?</i></li>
      <ul class="list-unstyled">
        <li>This one.</li>
      </ul>
      <li><i>Why is the logo a toad?</i></li>
      <ul class="list-unstyled">
        <li>Because if you misspell our name you get toad.</li>
      </ul>
      <li><i>How are you behind?</i></li>
      <ul class="list-unstyled">
        <li>This is a finished product. It is impossible to be behind.</li>
      </ul>
    </ol>
    <div class="buffer"/>
  </div>
</template>

<script>
import Navbar from './Navbar'
import PageHeader from './PageHeader'

export default {
  name: 'UserGuide',
  components: {PageHeader, Navbar},
  props: ['mode'],
  data () {
    return {
      header: {
        imageClass: 'user_guide',
        title: "Welcome to the Ambassador of Destruction's user guide",
        subTitle: 'This is where you will be able to learn more about how to use our product'
      }
    }
  }
}
</script>

<style scoped>

</style>
